{
	"discordAccount":{
		"email":"email@example.com",
		"password":"your discord password"
	},
	"discordInvite":"the http link or just the code at the end",
	"commandPrefix":"$",
	"musicTextChannelID":"leave empty to listen for commands in all text channels",
	"youtubeAPIKey":"enter your youtube api key here"
}